.App {
  text-align: center;
}
.login{
  width: 600px;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 125px;
}
.signup{
  width: 600px;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 75px;
}
.form-label{
  align-items: flex-start;
  text-align: start;
}
.form{
  background-color: rgb(250, 246, 255);
  height: 400px;
  padding: 0px 60px;
  border-radius: 5px;
}
.error-message{
  font-size: 12px;
  padding: 3px;
  text-decoration: red;
  display: none;
}
.btn-change{
  float: left;
  box-shadow: 0 0 1px #ccc;
  -webkit-transition: all 0.5s ease-in-out;
  border: 0px;
  color: #fff;
}
.btn-change:hover{
  -webkit-transform: scale(1.1);
  background: #31708f;
}